USE [dbPlanFlow]
GO
/****** Object:  Table [dbo].[Details]    Script Date: 13.08.2025 16:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Details](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Title] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operations]    Script Date: 13.08.2025 16:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DetailId] [int] NULL,
	[TypeOperationId] [int] NULL,
	[EstimatedTime] [int] NULL,
	[Quantity] [int] NULL,
	[DoneQuantity] [int] NULL,
	[StatusId] [int] NULL,
	[AssignedWorkerId] [int] NULL,
 CONSTRAINT [PK__Operatio__3214EC071730D125] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OperationStatuses]    Script Date: 13.08.2025 16:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperationStatuses](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOperation]    Script Date: 13.08.2025 16:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOperation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
 CONSTRAINT [PK_TypeOperation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workers]    Script Date: 13.08.2025 16:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Details] ON 

INSERT [dbo].[Details] ([Id], [Code], [Title]) VALUES (1, N'D001', N'Вал')
INSERT [dbo].[Details] ([Id], [Code], [Title]) VALUES (2, N'D002', N'Шестерня')
INSERT [dbo].[Details] ([Id], [Code], [Title]) VALUES (3, N'D0435', N'Втулка')
SET IDENTITY_INSERT [dbo].[Details] OFF
GO
SET IDENTITY_INSERT [dbo].[Operations] ON 

INSERT [dbo].[Operations] ([Id], [DetailId], [TypeOperationId], [EstimatedTime], [Quantity], [DoneQuantity], [StatusId], [AssignedWorkerId]) VALUES (26, 3, 1, 2, 40, 0, 1, 6)
INSERT [dbo].[Operations] ([Id], [DetailId], [TypeOperationId], [EstimatedTime], [Quantity], [DoneQuantity], [StatusId], [AssignedWorkerId]) VALUES (27, 4, 1, 10, 22, 0, 1, 3)
INSERT [dbo].[Operations] ([Id], [DetailId], [TypeOperationId], [EstimatedTime], [Quantity], [DoneQuantity], [StatusId], [AssignedWorkerId]) VALUES (28, 5, 1, 20, 21, 0, 1, 2)
SET IDENTITY_INSERT [dbo].[Operations] OFF
GO
INSERT [dbo].[OperationStatuses] ([Id], [Name]) VALUES (1, N'Не начато')
INSERT [dbo].[OperationStatuses] ([Id], [Name]) VALUES (2, N'В процессе')
INSERT [dbo].[OperationStatuses] ([Id], [Name]) VALUES (3, N'Готово')
GO
SET IDENTITY_INSERT [dbo].[TypeOperation] ON 

INSERT [dbo].[TypeOperation] ([Id], [Title]) VALUES (1, N'Токарная с ЧПУ')
INSERT [dbo].[TypeOperation] ([Id], [Title]) VALUES (2, N'Фрезерная с ЧПУ')
INSERT [dbo].[TypeOperation] ([Id], [Title]) VALUES (3, N'Шлифовальная')
SET IDENTITY_INSERT [dbo].[TypeOperation] OFF
GO
SET IDENTITY_INSERT [dbo].[Workers] ON 

INSERT [dbo].[Workers] ([Id], [FirstName], [LastName]) VALUES (1, N'Алексей', N'Иванов')
INSERT [dbo].[Workers] ([Id], [FirstName], [LastName]) VALUES (2, N'Мария', N'Петрова')
INSERT [dbo].[Workers] ([Id], [FirstName], [LastName]) VALUES (3, N'Джексон', N'Шторм')
SET IDENTITY_INSERT [dbo].[Workers] OFF
GO
ALTER TABLE [dbo].[Operations]  WITH CHECK ADD  CONSTRAINT [FK__Operation__Assig__3F466844] FOREIGN KEY([AssignedWorkerId])
REFERENCES [dbo].[Workers] ([Id])
GO
ALTER TABLE [dbo].[Operations] CHECK CONSTRAINT [FK__Operation__Assig__3F466844]
GO
ALTER TABLE [dbo].[Operations]  WITH CHECK ADD  CONSTRAINT [FK__Operation__Detai__3D5E1FD2] FOREIGN KEY([DetailId])
REFERENCES [dbo].[Details] ([Id])
GO
ALTER TABLE [dbo].[Operations] CHECK CONSTRAINT [FK__Operation__Detai__3D5E1FD2]
GO
ALTER TABLE [dbo].[Operations]  WITH CHECK ADD  CONSTRAINT [FK__Operation__Statu__3E52440B] FOREIGN KEY([StatusId])
REFERENCES [dbo].[OperationStatuses] ([Id])
GO
ALTER TABLE [dbo].[Operations] CHECK CONSTRAINT [FK__Operation__Statu__3E52440B]
GO
ALTER TABLE [dbo].[Operations]  WITH CHECK ADD  CONSTRAINT [FK_Operations_TypeOperation] FOREIGN KEY([TypeOperationId])
REFERENCES [dbo].[TypeOperation] ([Id])
GO
ALTER TABLE [dbo].[Operations] CHECK CONSTRAINT [FK_Operations_TypeOperation]
GO
